{% extends "base.html" %}

{% block body %}
    <form method="post" action="/crypto/set">
        <div class="form-group">
            <input type="password" name="authKey" autocomplete="off" placeholder="Auth Key" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="key" autocomplete="off" placeholder="Key" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="idStr" autocomplete="off" placeholder="ID String" class="form-control">
        </div>
        <div class="form-group">
            <textarea name="data" placeholder="Data To Encrypt" class="form-control" style="resize: vertical"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
{% endblock %}
